html, body {
    background-color: #C7B299;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}

svg {
    position: absolute;
    max-width: 600px;
}

#stickMarsh {
  opacity: 0;
}
